.carica_docenti{
    gap: 20px;
}

.card_docente{
    border: 2px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card_docente:hover{
    cursor: pointer;
}

.card_domande{
    border: 2px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card_viewdocente{
    border: 2px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 20px;
}

.mt-1{
    margin-top: 10px;
}

.pbc{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

input{
    padding: 9px;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 220px;

    outline: none!important;
}


select{
    padding: 9px;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 240px;

    outline: none!important;
}

button{
    min-width: 240px;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.5s;
} 

button:hover{
    background-color: rgb(85, 85, 244);
    cursor: pointer;
} 